/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
html {
  overflow-y: hidden !important;
  overflow-x: hidden;
}

body {
  background-color: #040404 !important;
  
}

#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh !important;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
  background: none !important;
}
#header * {
  transition: ease-in-out 0.3s;
}
#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 700;
}
#header h1 a, #header h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
}
#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}
#header h2 span {
  color: #fff;
  border-bottom: 3px solid #D8C787;
  padding-bottom: 6px;
}
#header img {
  padding: 0;
  margin: 0;
}
@media (max-width: 992px) {
  #header h1 {
    font-size: 35px;
  }
  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }
  #header .container {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .navbar {
    margin-top: 0px !important;
  }
}
.navbar a, .navbar a:focus {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
/*--------------------------------------------------------------
# Social Links
--------------------------------------------------------------*/

#header .social-links {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

#header .social-links a {
  text-decoration: none;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .social-links a:link {
  text-decoration: none!important;
}

#header .social-links .icon-button i, #header .social-links .icon-button img  {
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 3rem;
  width: 3rem;
  margin: 0;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.2s ease-in;
  color: white;
  border: 3px solid #D8C787;
  border-radius: 50%;
}

@media (max-width: 992px) {
  #header .social-links {
    margin-top: 15px;
  }
}

#header.header-top .social-links {
  display: none;
}

#header .social-links .facebook i {
  background-color: #3b5998;
}

#header .social-links .linkedin i {
  background-color: #0e76a8;
}

#header .social-links .github i {
  background-color: #333;
}

#header .social-links .envelope i {
  background-color: #ea4335;
}

#header .social-links .twitter i {
  background-color: #1da1f2;
}

#header .social-links .instagram i {
  background-color: #c13584;
}

#header .social-links .discord i {
  background-color: #7289da;
}

/* Hover Transition */
#header .social-links .twitter i:hover,
#header .social-links .envelope i:hover,
#header .social-links .gitlab i:hover,
#header .social-links .github i:hover,
#header .social-links .linkedin i:hover,
#header .social-links .facebook i:hover,
#header .social-links .instagram i:hover,
#header .social-links .stack-overflow i:hover,
#header .social-links .medium i:hover,
#header .social-links .discord i:hover {
  background-color: #222222;
  color: #D8C787;
}

.contact .info-box .social-links {
  margin: 5px 0 0 68px;
  display: flex;
}

.contact .info-box .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  margin-right: 12px;
  transition: 0.3s;
}

.contact .info-box .social-links a:hover {
  color: #D8C787;
}