.procode * {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace !important;
}

.introCards{
  margin: 50px 80px;
  position: relative;
  width: 40%;
  max-height: 100vh;
  cursor: pointer;
}

.introCard {
  position: absolute;
  transform-origin: bottom right;
  transform: rotateZ(6deg);
  opacity: 0;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 15px 13px;
  min-width: 560px;
  width: 90%;
  max-width: 650px;
  min-height: 360px;
  background: #2a2a32;
  border-radius: 10px;
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.3);
  transition: 0.5s all ease-in-out;
  pointer-events: none;
}

.followed{
  height: 360px;
  overflow: hidden;
}

.circles {
  display: flex;
  /* padding: 15px 0 15px 13px; */
}

.navCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fefefe;
  margin: 0 4px;
}

.red {
  background: #ed4040;
}

.yellow {
  background: #ecb62c;
}

.green {
  background: #26e05a;
}

.procode * {
  margin-top: 20px;
  /* font-size: 1.5em; */
  font-size: 19.5px;
  line-height: 25px;
  color: #fefefe;
}

.CodeMirror-line {
  overflow: visible;
  white-space: pre-wrap;
  word-break: normal;
  margin: 0;
}

.front{
  opacity: 1;
  transform: rotateZ(0);
  z-index: 10;
  pointer-events: auto;
}

.followed{
  opacity: 0.5;
  transform-origin: bottom right;
  transform: rotateZ(5deg);
  box-shadow: none;
  z-index: 8;
}

.fall{
  transform-origin: bottom right;
  box-shadow: none;
  z-index: 12;
  animation: falldown 1s ease-in-out;
}

@keyframes falldown {
  0%{
    opacity: 1;
    transform: rotateZ(0);
  }

  70%{
    opacity: 0.5;
  }

  90%{
    opacity: 0;
    transform: rotateZ(-90deg) scale(0.9);
  }

  100%{
    opacity: 0;
    transform: rotateZ(-90deg) scale(0);
  }
}
