---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
---

<Layout title="Blog">
  <Main pageTitle={["Sign my Guestbook!"]} pageDesc={"🪶 Leave a message for me to read!"}></Main>
</Layout>
