---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;

const currentDate = new Date();
const currentYear = currentDate.getFullYear();
const result = currentYear - 2019;
const resumeName = `Resume - Miguel Villa Floran - Software Engineer - ${result} YoE`;
---

<Layout>
  <main id="main-content">
    <div style="height: 100vh; width: 100ww;">
      <iframe
        id="pdfFrame"
        src="https://kaweees.github.io/resume/resume.pdf"
        width="100%"
        height="100%"
        title={resumeName}
        download={resumeName}
      />
    </div>
  </main>
</Layout>

<style>
  * {
    border: 0;
    margin: 0;
  }
</style>
