---
import Layout from '@layouts/Layout.astro';

const currentDate = new Date();
const currentYear = currentDate.getFullYear();
const result = currentYear - 2017;
const resumeName = `Resume - Miguel Villa Floran - Software Engineer - ${result} YoE`;
---

<Layout title=`Resume - Software Engineer ${result} YoE`>
  <main id="main-content">
    <div style="height: 100vh; width: 100ww;">
      <iframe
        id="pdfFrame"
        src="https://kaweees.github.io/resume/resume.pdf"
        width="100%"
        height="100%"
        title={resumeName}></iframe>
    </div>
  </main>
</Layout>

<style>
  * {
    border: 0;
    margin: 0;
  }
</style>
