<div class="scanlines">
	<slot />
</div>

<style>
	.scanlines {
		background-color: var(--bg);
		color: var(--text);
		transition:
			background-color 0.25s,
			color 0.25s;
	}
	.scanlines:before {
		animation: scanlines-anim 1s linear infinite;
		background: linear-gradient(hsla(0, 0%, 8%, 0) 66%, rgba(0, 0, 0, 0.15) 0);
		background-size: 100% 5px;
		bottom: 0;
		content: '';
		left: 0;
		pointer-events: none;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9999;
	}

	@keyframes scanlines-anim {
		0% {
			background-position: 0 0;
		}

		to {
			background-position: 0 15px;
		}
	}

	@media only screen and (orientation: portrait) {
		.scanlines:before {
			background-size: 100% 4px;
		}
	}

	.crt-filter {
		&:after {
			content: ' ';
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(18, 16, 16, 0.1);
			opacity: 0;
			z-index: 2;
			pointer-events: none;
			animation: flicker 0.15s infinite;
		}

		&:before {
			content: ' ';
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background:
				linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
				linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
			z-index: 2;
			background-size:
				100% 2px,
				3px 100%;
			pointer-events: none;
		}

		& * {
			animation: phosphor 1.6s infinite !important;
		}

		& blink {
			animation:
				blink 1.25s step-start infinite,
				phosphor 1.6s infinite !important;
		}
	}
</style>
