---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
  maxWidth?: boolean;
}

const { noPadding = false, ariaHidden = true, maxWidth = false } = Astro.props;
---

<div class={`${maxWidth ? "max-w-3xl" : ""}mx-auto ${noPadding ? "px-0" : "px-4"}`}>
  <hr class="border-skin-line" aria-hidden={ariaHidden} />
</div>
