<div class="standard-container-col mt-5 self-center">
  <div class="flex w-full items-center justify-center rounded-lg">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="red"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-map-pin mx-1"
      style="fill: var(--color-fill) !important;"
      ><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path><circle cx="12" cy="10" r="3"
      ></circle></svg
    >
    <p class="my-auto flex justify-center text-center align-middle text-lg font-bold">
      San Francisco, CA
    </p>
  </div>
</div>
