---
import { NAV_LINKS } from '@config';

export interface Props {
  activeNav: string;
}

const { activeNav } = Astro.props;
---

<div class="sm:hidden">
  <button
    type="button"
    class="focus-outline my-auto h-8 w-8 rounded p-1"
    aria-label="Toggle Menu"
    id="nav-toggle"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path
        fill-rule="evenodd"
        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
        clip-rule="evenodd"></path>
    </svg>
  </button>
  <div
    id="nav-menu"
    class={`fixed top-0 left-0 z-10 h-full w-full transform opacity-95 duration-300 ease-in-out 4 translate-x-full`}
    style="background-color: var(--navigation-fill-secondary); color: var(--navigation-fill-primary);"
  >
    <div class="flex justify-end">
      <button
        type="button"
        class="mt-5 mr-8 h-8 w-8 rounded"
        aria-label="Toggle Menu"
        id="nav-close"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          style="fill: var(--navigation-fill-primary);"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
            class="text-fg-dark dark:text-fg-light"></path>
        </svg>
      </button>
    </div>
    <nav class="fixed mt-8 h-full" id="menu-items">
      {
        NAV_LINKS.length > 0 && (
          <>
            {NAV_LINKS.map(({ href, title }) => (
              <div class="px-12 py-4">
                <a
                  href={`/${href}`}
                  class={`text-fg-dark dark:text-fg-light hover:bg-fg-light dark:hover:bg-fg-dark px-3 py-2 text-2xl font-bold tracking-widest rounded-md${activeNav === href ? 'active' : ''}`}
                >
                  {title}
                </a>
              </div>
            ))}
          </>
        )
      }
    </nav>
  </div>
</div>

<script>
  function toggleNav() {
    const navToggle = document.getElementById('nav-toggle');
    const navMenu = document.getElementById('nav-menu');
    navToggle?.addEventListener('click', () => {
      navMenu?.classList.toggle('translate-x-full');
      navMenu?.classList.toggle('translate-x-0');
    });
    const closeNav = document.querySelector('#nav-close');
    closeNav?.addEventListener('click', () => {
      navMenu?.classList.toggle('translate-x-full');
      navMenu?.classList.toggle('translate-x-0');
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener('astro:after-swap', toggleNav);
</script>

<style>
  @reference "../styles/base.css";
  nav a {
    color: var(--color-fill);
    background-color: var(--color-text-base);
  }
  nav a:hover {
    color: var(--color-text-base);
    background-color: var(--color-fill);
  }
  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-[0.3em];
  }
</style>
