---
import BorderedElement from '@components/BorderedCard.astro';
import Badges from '@components/Badges.astro';
import Link from '@components/Link.astro';
import { SOCIALS, SITE } from '@config';
import Socials from '@components/Socials.astro';
import Location from '@components/Location.astro';
import { WorkStatus } from '../types';

export interface Props {
  className?: string;
}
const workStatus = SITE.workStatus;
const socialCount = SOCIALS.filter((social) => social.active).length;

const { className }: Props = Astro.props;
---

<BorderedElement
  className={`w-1/1 flex flex-col items-center overflow-hidden ${className}`}
  border={true}
>
  <img
    src="/miguel-vf.png"
    alt="Miguel Villa Floran"
    class="mx-auto rounded-full border-4 border-solid object-cover object-center"
    width="250"
    height="250"
    style="border-color: rgb(var(--fg-light));"
  />
  <div class="mx-auto mt-5 flex flex-row items-center justify-center text-center">
    <div class="group relative mr-2">
      <div
        class="pointer-events-none absolute bottom-full left-1/2 z-50 mb-2 -translate-x-1/2 whitespace-nowrap rounded bg-neutral-900 px-2 py-1 text-xs text-white opacity-0 transition-opacity duration-200 group-hover:opacity-100 dark:bg-neutral-800"
      >
        {workStatus}
        <div
          class="absolute left-1/2 top-full h-0 w-0 -translate-x-1/2 border-l-4 border-r-4 border-t-4 border-transparent border-t-neutral-900 dark:border-t-neutral-800"
        >
        </div>
      </div>
      <div
        class=`h-3 w-3 animate-pulse cursor-pointer rounded-full ${workStatus === WorkStatus.Open ? 'bg-green-500' : workStatus === WorkStatus.Exploring ? 'bg-yellow-500' : 'bg-red-500'} shadow-[0_0_8px_${workStatus === WorkStatus.Open ? 'rgba(34,197,94,0.6)' : workStatus === WorkStatus.Exploring ? 'rgba(250,204,21,0.6)' : 'rgba(239,68,68,0.6)'}]`
      >
      </div>
    </div>
    <p class="text-center text-xl font-bold">Miguel Villa Floran</p>
  </div>
  <p class="text-md mt-5 w-full justify-center text-center">Computer Engineer in Training.</p>
  <Link
    href="mailto:miguel.villafloran@gmail.com"
    text="miguel.villafloran@gmail.com"
    className="text-md mt-5 justify-center text-center"
  />
  <p class="mt-5 w-full justify-center text-center text-sm text-gray-500 dark:text-gray-400">
    Curious, Creative, and Clever. Aspiring Programming Wizard with interests in embedded systems,
    robotics, and control systems. I'm a Software Engineering Intern @NVIDIA, and pursuing a B.S. in
    Computer Engineering at Cal Poly
  </p>
  <Location />
  {
    // only display if at least one social link is enabled
    socialCount > 0 && (
      <div class="social-wrapper">
        <Socials />
      </div>
    )
  }
  <Badges />
</BorderedElement>
