<section class="job-place">
  <a
    class="img"
    {{ if .link }}
      href="{{ .link }}"
    {{ end }}
    target="_blank"
  >
    <div class="job-details">
      <a href="{{ .link }}" target="_blank">
        <div
          style="width: 40px !important; display: flex; align-items: center;"
        >
          {{ partial "image.html" (dict "src" .image "alt" .title) }}
        </div>
        <span class="job-stat" style="margin-left: 1rem;">{{ .company }}</span>
        <span class="job-stat" style="margin-left: 2.5rem;">{{ .role }}</span>
        <span class="job-stat" style="justify-content: flex-end;"
          >{{ .time }}</span
        >
      </a>
    </div>
  </a>
</section>
