---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
---

<Layout title="Projects">
  <Main pageTitle={["Projects"]} pageDesc={"ðŸ› ï¸ Here are some of the projects I've built!"}></Main>
</Layout>
